<p>update works!</p>

{{currentemp.name}}

<div class="row">
    <div class="col-md-6 mx-auto">

        <h1>Edit Employee </h1>
        <form [formGroup]="empForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name"> name </label>
                <input class="form-control" type="text" id="name" name="name" formControlname="name">
                <div class="text-danger" *ngIf="Name.errors && Name.touched">
                    <div *ngIf="Name.errors['required']">Name can not be empty</div>
                    <div *ngIf="Name.errors['minlength']">minimum 4 characters </div>
                </div>
            </div>


            <div class="form-group">
                <button class="btn btn-success" type="submit"  >Submit</button>

            </div>

        </form>
    </div>
</div>

<p >touched:{{Name.touched}}</p>
<p >untouched:{{Name.untouched}}</p>
<p >dirty:{{Name.dirty}}</p>
<p >pristine:{{Name.pristine}}</p>
<p >valid:{{Name.valid}}</p>
<p >Invalid:{{Name.invalid}}</p>
<p >errors:{{Name.errors|json}}</p>
<p >value:{{Name.value}}</p>
